/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.contenedor {
    width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    background: transparent;
    backdrop-filter: blur(10px);
}

h1 {
    color: #fff;
    text-align: center;
}
h3 {
    color: #fff;

}

/* Estilos del formulario */
.contenedor-datos,
.contenedor-info {
    margin-bottom: 20px;
}

.formulario-datos,
.formulario-info {
    margin-bottom: 15px;
}
.formulario-info label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}
.formulario-datos label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input[type="text"],
textarea,
select,
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #bb0404;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #9b0e0e;
}
